
<div >
    <a class="button" asp-area="Therapist" asp-controller="MyController" asp-action="Schedule">Расписание</a>
    <a class="button" asp-area="Therapist" asp-controller="User" asp-action="Index">Пациенты</a>
    <a class="button" asp-area="Therapist" asp-controller="ClientDataApplication" asp-action="Index">Заявки</a>
</div>

<div class="div-box">
    
</div>

<div class="buttons">
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
        <input type="submit" value="Выйти" />
    </form>
</div>